* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #ECD4EA ;
  --th-ic: #69346a;  /*text hover and icon color*/
  --tc-ih: #250D25;  /*icon hover and text color*/
  --card-bg: #B189B0;
  --accent-color: #ede6ed;
  --theme-toggle: #3d3d3d;
  --tt-hover: #6d6d6d;
}

[data-theme="dark"] {
  --bg-color: #250D25;
  --th-ic: #B189B0;  /*text hover and icon color*/
  --tc-ih:#ECD4EA;  /*icon hover and text color*/
  --card-bg: #ede6ed;
  --accent-color: #69346a;
  --theme-toggle: #FFC800;
  --tt-hover: #C39900;
}